/* Base z-index for all app windows */
.app-window {
  z-index: 1000; 
}

/* Additional z-index for active window to ensure it's on top */
.app-window-active {
  z-index: 1001; 
}

.about-me-window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px; 
  height: 450px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  display: none; 
  font-family: SFPro;
 
}

.about-me-window-content {
  padding: 20px;
  overflow-y: auto; 
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.about-me-window-header {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
}

.about-me-window-controls {
  display: flex;
  align-items: center;
}

.about-me-window-control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #ff5f56;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.about-me-window-control.minimize {
  background-color: #ffbd2e;
}

.about-me-window-control.maximize {
  background-color: #27c93f;
}

.about-me-window-control.close:hover::before {
  content: '×';
  color: white;
  text-align: center;
  line-height: 12px;
  display: block;
}

.about-me-window-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #aaa;
}

.about-me-window-close-btn:hover {
  color: #000;
}

.about-me-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.about-me-window-content h2 {
  padding: 0;
  margin: 0;
  /* font-size: 20px; */
  font-weight: 400;
}

.about-me-window-content h3 {
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.about-me-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.about-me-detail {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
  align-items: center;
  width: 100%;
  /* border-bottom: 1px solid #ccc; */
  padding: 5px 0;
  align-items: start;
}

/* .about-me-detail:last-child {
  border-bottom: none;
} */

.about-me-label {
  text-align: right;
  color: rgb(7, 7, 7);
  font-weight: normal;
  white-space: nowrap;
  align-self: start; 
}

.about-me-value {
  text-align: left;
  color:  grey;
}

/* Adjustments for the window title, if needed */
.about-me-window-title {
  font-size: 15px;
  color: #333;
  margin-left: 140px;
  margin-right: auto;
  font-family: SFPro;
  font-weight: 600;
  vertical-align: top;
}

.top-bar-link {
  cursor: pointer;
}

/* .contact-bottom-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.macos-btn {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #007aff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.macos-btn:hover {
  background-color: #005ecb; 
}

.macos-btn:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
} */

.contact-bottom-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}

.macos-btn {
  padding: 4px 15px;
  font-size: 12px;
  color: #333;
  text-align: center;
  background: #eee;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.5);
  transition: filter 0.1s ease-in-out;
  margin: 10px;
}

.macos-btn:active {
  filter: brightness(0.9);
}


.macos-btn:hover {
  background: #c1c1c4;
}

/* .macos-btn:focus {
  border-color: #6296d1;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
} */