/* Base z-index for all app windows */
.app-window {
  z-index: 1000; 
}

/* Additional z-index for active window to ensure it's on top */
.app-window-active {
  z-index: 1001; 
}

.contact-window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px; /* Adjust based on your preference */
  height: 500px; /* Let it grow as content needs */
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 1500; /* Make sure it's on top */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  font-family: SFPro;
}

  /* Styling for the content area of the application window */
  .contact-window-content {
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if content overflows */
    height: calc(100% - 60px); 
    /* background: #fff;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
   }

.contact-window-header {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-user-select: none; /* macOS style non-selectable text */
  user-select: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
}

.contact-window-title {
  font-size: 1.5rem;
  color: #333;
}

.contact-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.contact-window-content h2 {
  padding: 0;
  margin: 0;
  /* font-size: 20px; */
  font-weight: 400;
}

.contact-window-content h3 {
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.contact-details p {
  margin: 5px 0;
}

  /* macOS style window controls (close, minimize, maximize) */
  .contact-window-controls {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  
  .contact-window-control {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #ff5f56;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .contact-window-control.minimize {
    background-color: #ffbd2e;
  }
  
  .contact-window-control.maximize {
    background-color: #27c93f;
  }
  
 
  /* Additional styling for the close button specifically */
  .contact-window-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 18px; /* Larger size for the close button */
    color: #aaa; /* Grey color for the close button */
  }
  
  /* Styling for the close button on hover */
  .contact-window-close-btn:hover {
    color: #000; /* Darker color on hover */
  }
  
  /* Ensure the window and controls are above other content */
  .contact-window, .contact-window-control {
    z-index: 1000;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  
  .contact-detail {
    display: grid;
    grid-template-columns: minmax(auto, max-content) 1fr;
    gap: 10px; /* Adjust the gap size as needed */
    align-items: center;
    width: calc(100% - 40px); /* Adjust based on the container size */
    border-bottom: 1px solid #ccc; /* Line between items */
    padding: 5px 0; /* Padding above and below the line */
  }
  
  .contact-detail:last-child {
    border-bottom: none; /* No border for the last item */
  }
  
  .contact-label {
    text-align: right;
    color: grey;
    font-weight: normal;
    white-space: nowrap; /* Prevents wrapping and keeps the grid alignment consistent */
  }
  
  .contact-value {
    text-align: left;
  }
  
  /* If you want to make sure the colon is vertically aligned for all items, you can set a fixed width for the label column */
  .contact-detail {
    grid-template-columns: 100px 1fr; /* Adjust the width as needed to align the colons */
    
  }


  .contact-actions {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap between buttons */
    margin-top: 20px;
    background-color: none;
  }
  
  .contact-action-btn {
     padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .contact-action-btn img {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    margin-bottom: 0;
    border-radius: 50%;
    padding: 5px;
  }
  
  .contact-action-btn span {
    color: rgba(51,153,220,255);
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 0;
    padding-top: 0;
  }
  
  .contact-id {
    display: flex;
    flex-direction: row;
  }